In [1]:
import pandas as pd
from sqlalchemy import create_engine

In [2]:
netflix_file = "netflix_titles.csv"
imdb_file = "imdb_top_1000.csv"

In [3]:
#convert CSV to pandas data frame
netflix_df = pd.read_csv(netflix_file)
netflix_df.head()

,show_id,type,title,director,cast,country,date_added,release_year,rating,duration,listed_in,description
0,s1,TV Show,3%,NaN,"João Miguel, Bianca Comparato, Michel Gomes, R...",Brazil,"August 14, 2020",2020,TV-MA,4 Seasons,"International TV Shows, TV Dramas, TV Sci-Fi &...",In a future where the elite inhabit an island ...
1,s2,Movie,7:19,Jorge Michel Grau,"Demián Bichir, Héctor Bonilla, Oscar Serrano, ...",Mexico,"December 23, 2016",2016,TV-MA,93 min,"Dramas, International Movies",After a devastating earthquake hits Mexico Cit...
2,s3,Movie,23:59,Gilbert Chan,"Tedd Chan, Stella Chung, Henley Hii, Lawrence ...",Singapore,"December 20, 2018",2011,R,78 min,"Horror Movies, International Movies","When an army recruit is found dead, his fellow..."
3,s4,Movie,9,Shane Acker,"Elijah Wood, John C. Reilly, Jennifer Connelly...",United States,"November 16, 2017",2009,PG-13,80 min,"Action & Adventure, Independent Movies, Sci-Fi...","In a postapocalyptic world, rag-doll robots hi..."
4,s5,Movie,21,Robert Luketic,"Jim Sturgess, Kevin Spacey, Kate Bosworth, Aar...",United States,"January 1, 2020",2008,PG-13,123 min,Dramas,A brilliant group of students become card-coun...

In [4]:
#convert CSV to pandas data frame
imdb_df = pd.read_csv(imdb_file)
imdb_df.head()

,Poster_Link,Series_Title,Released_Year,Certificate,Runtime,Genre,IMDB_Rating,Overview,Meta_score,Director,Star1,Star2,Star3,Star4,No_of_Votes,Gross
0,https://m.media-amazon.com/images/M/MV5BMDFkYT...,The Shawshank Redemption,1994,A,142 min,Drama,9.3,Two imprisoned men bond over a number of years...,80.0,Frank Darabont,Tim Robbins,Morgan Freeman,Bob Gunton,William Sadler,2343110,"28,341,469"
1,https://m.media-amazon.com/images/M/MV5BM2MyNj...,The Godfather,1972,A,175 min,"Crime, Drama",9.2,An organized crime dynasty's aging patriarch t...,100.0,Francis Ford Coppola,Marlon Brando,Al Pacino,James Caan,Diane Keaton,1620367,"134,966,411"
2,https://m.media-amazon.com/images/M/MV5BMTMxNT...,The Dark Knight,2008,UA,152 min,"Action, Crime, Drama",9.0,When the menace known as the Joker wreaks havo...,84.0,Christopher Nolan,Christian Bale,Heath Ledger,Aaron Eckhart,Michael Caine,2303232,"534,858,444"
3,https://m.media-amazon.com/images/M/MV5BMWMwMG...,The Godfather: Part II,1974,A,202 min,"Crime, Drama",9.0,The early life and career of Vito Corleone in ...,90.0,Francis Ford Coppola,Al Pacino,Robert De Niro,Robert Duvall,Diane Keaton,1129952,"57,300,000"
4,https://m.media-amazon.com/images/M/MV5BMWU4N2...,12 Angry Men,1957,U,96 min,"Crime, Drama",9.0,A jury holdout attempts to prevent a miscarria...,96.0,Sidney Lumet,Henry Fonda,Lee J. Cobb,Martin Balsam,John Fiedler,689845,"4,360,000"

In [5]:
#transform data
transform_netflix = netflix_df[['type', 'title', 'director', 'country', 'release_year', 'rating']]
transform_netflix.head()

      type  title           director        country  release_year rating
0  TV Show     3%                NaN         Brazil          2020  TV-MA
1    Movie   7:19  Jorge Michel Grau         Mexico          2016  TV-MA
2    Movie  23:59       Gilbert Chan      Singapore          2011      R
3    Movie      9        Shane Acker  United States          2009  PG-13
4    Movie     21     Robert Luketic  United States          2008  PG-13

In [8]:
#transform data
transform_imdb = imdb_df[['Genre', 'Series_Title', 'IMDB_Rating', 'Director', 'Gross']]
transform_imdb.head()

,Genre,Series_Title,IMDB_Rating,Director,Gross
0,Drama,The Shawshank Redemption,9.3,Frank Darabont,"28,341,469"
1,"Crime, Drama",The Godfather,9.2,Francis Ford Coppola,"134,966,411"
2,"Action, Crime, Drama",The Dark Knight,9.0,Christopher Nolan,"534,858,444"
3,"Crime, Drama",The Godfather: Part II,9.0,Francis Ford Coppola,"57,300,000"
4,"Crime, Drama",12 Angry Men,9.0,Sidney Lumet,"4,360,000"

In [7]:
#transform data ---> join tables to find common movies
netflix_imdb_ratings = transform_netflix.merge(transform_imdb, how="inner", left_on="title", right_on="Series_Title").drop(columns="Director")
netflix_imdb_ratings

,type,title,director,country,release_year,rating,Genre,Series_Title,IMDB_Rating
0,Movie,3 Idiots,Rajkumar Hirani,India,2009,PG-13,"Comedy, Drama",3 Idiots,8.4
1,Movie,50/50,Jonathan Levine,United States,2011,R,"Comedy, Drama, Romance",50/50,7.6
2,Movie,A Clockwork Orange,Stanley Kubrick,"United Kingdom, United States",1971,R,"Crime, Drama, Sci-Fi",A Clockwork Orange,8.3
3,Movie,A Wednesday,Neeraj Pandey,India,2008,TV-MA,"Action, Crime, Drama",A Wednesday,8.1
4,Movie,About Time,Richard Curtis,United Kingdom,2013,R,"Comedy, Drama, Fantasy",About Time,7.8
...,...,...,...,...,...,...,...,...,...
147,Movie,What's Eating Gilbert Grape,Lasse Hallström,United States,1993,PG-13,Drama,What's Eating Gilbert Grape,7.8
148,Movie,Willy Wonka & the Chocolate Factory,Mel Stuart,"United States, East Germany, West Germany",1971,G,"Family, Fantasy, Musical",Willy Wonka & the Chocolate Factory,7.8
149,Movie,Zindagi Na Milegi Dobara,Zoya Akhtar,India,2011,TV-14,"Comedy, Drama",Zindagi Na Milegi Dobara,8.1
150,Movie,Zodiac,David Fincher,United States,2007,R,"Crime, Drama, Mystery",Zodiac,7.7
151,Movie,Zombieland,Ruben Fleischer,United States,2009,R,"Adventure, Comedy, Fantasy",Zombieland,7.6

In [9]:
#import password
from secret_file import password_one

In [13]:
#create engine
engine = create_engine(f'postgresql://postgres:{password_one}@localhost:5432/netflix_db')

In [18]:
#check tables
engine.table_names()

['netflix', 'imdb', 'netflix_imdb_ratings']

In [17]:
#insert into DB
transform_netflix.to_sql(name='netflix', con=engine, if_exists='append', index=True)
transform_imdb.to_sql(name='imdb', con=engine, if_exists='append', index=True)
netflix_imdb_ratings.to_sql(name='netflix_imdb_ratings', con=engine, if_exists='append', index=True)